.button-container{
    /* background-color: red; */
}

.button{
    margin-left: 10vw;
}

.add-product-detail{
    display: flex;
    gap: 1vw;
    margin-bottom: 1vw;
    align-items: center;
}

.add-product-title{
    /* background-color: #2647BB; */
    display: flex;
    justify-content: space-between;
    width: 14vw;
}

.dropdown{
    width: 12vw;
}

.textarea{
    height: 5vw;
}

.container{
    /* background-color: red; */
    width: fit-content;
    margin-left: 10vw;
}


.cards-container{
    /* background-color: aqua; */
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* background-color: red; */
}

.card-detail-adjust{
    display: flex;
    /* flex-direction: column; */
    background-color: beige;
    border: 0.1vw solid black;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 0.4vw;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 2vw;
}

.card-adjust{
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-case{
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.red-button{
    background-color: rgb(250, 39, 39);
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    cursor: pointer;
}

.wishlist-detail-container{
    /* background-color: red; */
    display: flex;
    gap: 1vw;
}

.wishlist-detail-container-inside{
    font-size: 1vw;
}

.button-style{
    font-size: 1vw;
}

.wishlist-public-container{
    background-color: rgb(201, 243, 243);
    padding: 1vw;
    width: 90vw;
    margin: auto;
    border-radius: 0.5vw;
}

.wishlist-public-container-inside{
    font-size: 1.8vw;
    justify-content: space-evenly;
    display: flex;   
}

.wishlist-public-container-input{
    width: 80vw;
    display: flex;
    margin: auto;
    /* background-color: red; */
    flex-direction: column;
    gap: 0.5vw;
}

.wishlist-public-detail-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 248, 248);
    padding: 1vw;
    border-radius: 0.5vw;
}

.wishlist-public-detail{
    display: flex;
    align-items: center;
    width: 90vw;
    margin: auto;
}

.wishlist-public-detail-container-big{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 1vw;
}